@{
    ViewData["Title"] = "Index";
    
}

    <a href='@Url.Action("SelectIndumentaria","Home")'>Ir a agregar equipos</a>
    <article class="flex">
        <div class="cuadradoConjuntos">
            @{ 
                if (@ViewBag.EquiposCreados != null) {
                    foreach(var i in @ViewBag.EquiposCreados) {
                        string rutaRemera= "img/remera/remera" + @ViewBag.EquiposCreados[i.Key].Camiseta + ".png";
                        string rutaPantalon = "img/pantalon/pantalon" + @ViewBag.EquiposCreados[i.Key].Pantalon + ".png";
                        string rutaMedia = "img/medias/medias" + @ViewBag.EquiposCreados[i.Key].Medias + ".png";
                        <div class="conjunto">
                            <img src='@Url.Content("~/" + rutaRemera)' >
                            <img src='@Url.Content("~/" + rutaPantalon)' >
                            <img src='@Url.Content("~/" + rutaMedia)' >
                            <h3></h3>
                        </div>

                    }
                }  
            }
        </div>
        <div class="cuadrado"> 
            <div class="divInput">
                <h2>Ingresar nombre equipo:</h2>
                <input type="text" name="" id="">
            </div>
        </div>
    </article>
